/* -- default -- */
.superclass {
  padding: 10px;
  cursor: url(/assets/images/default-cursor.png), auto;
  -webkit-animation: cursor 400ms infinite;
  animation: cursor 400ms infinite;

  @-webkit-keyframes cursor {
    0% {cursor: url(/assets/images/default-cursor.png), auto;}
    100% {cursor: url(/assets/images/default-cursor.png), auto;}
  } 
  
  @keyframes cursor {
    0% {cursor: url(/assets/images/default-cursor.png), auto;}
    100% {cursor: url(/assets/images/default-cursor.png), auto;}
  }
}
