/* -- xmas -- */
.xmas {
  background-image: url('https://raw.githubusercontent.com/ps2wiki/ps2wiki.github.io/refs/heads/upstream/assets/xmas/xmas_bg_light.png');
  background-position: no-repeat;
  background-size: cover;
}

.xmas .superclass {
  cursor: url(/assets/xmas/cursor/cursor-0.png), auto;
  -webkit-animation: cursor 1ms infinite;
  animation: cursor 1ms infinite;

  @-webkit-keyframes cursor {
    0% {cursor: url(/assets/xmas/cursor/cursor-0.png), auto;}
    25% {cursor: url(/assets/xmas/cursor/cursor-2.png), auto;}
    50% {cursor: url(/assets/xmas/cursor/cursor-4.png), auto;}
    75% {cursor: url(/assets/xmas/cursor/cursor-6.png), auto;}
    100% {cursor: url(/assets/xmas/cursor/cursor-8.png), auto;}
  } 
  
  @keyframes cursor {
    0% {cursor: url(/assets/xmas/cursor/cursor-0.png), auto;}
    25% {cursor: url(/assets/xmas/cursor/cursor-2.png), auto;}
    50% {cursor: url(/assets/xmas/cursor/cursor-4.png), auto;}
    75% {cursor: url(/assets/xmas/cursor/cursor-6.png), auto;}
    100% {cursor: url(/assets/xmas/cursor/cursor-8.png), auto;}
  }
}
