---
layout: archive
---

{{ content }}
<button class="search__toggle" type="button"><div style="font-size: 1em; color: white; border-radius: 10px; padding: 30px; border: 3px outset wheat">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <a>Search files across The PS2 Homebrew Wiki & The Save Application System Apps Archive  </a><i class="fas fa-search"></i>
        </div></button>

</br><a style="font-size: 0.75em; font-color: white" >Please check the "Work in Progress" & "Fact Check: Verified" badge on articles
          to better assess the reliability of information provided</a>


