---
layout: archive
---

<style>
body {
  background-image: url('https://raw.githubusercontent.com/ps2wiki/ps2wiki.github.io/refs/heads/upstream/assets/images/ps2wiki_bg.jpg');
}
</style>

{{ content }}

<div><button class="search__toggle" type="button"><div style="background-color: #5b5b5b; font-color: #000000; font-size: 1em; color: white; border-radius: 10px; padding: 50px; border: 3px outset wheat">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
          <a style="font-color: black">Search files across The PS2 Homebrew Wiki & The Save Application System Apps Archive  </a><i style="font-color: black" class="fas fa-search"></i>
        </div></button></div>

</br></br><div style="text-align: center; font-size: 0.75em; font-color: #ffffff"><a style="text-align: center; font-size: 0.75em; font-color: white">Please check the "Work in Progress" & "Fact Check: Verified" badge on articles
          to better assess the reliability of information provided</a>
<a style="text-align: center; font-size: 1em; font-color: white">Key: 🤔 - Guide, 📖 - Docs , ⬇️ - APP</a>
</div>


