/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: inline-start;
  margin-inline: 0;
  width: 100%;
  margin-top: 0em;
  color: $muted-text-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: $footer-background-color;
  margin-left: 10em;
  margin-right: 10em;

  footer {
    @include clearfix;
    margin-inline: auto;
    max-width: 100%;
    padding: 1em;
     
    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

}

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: $muted-text-color;
  }
}

@media (max-width: 800px) {
   .page__footer {
      margin-left: 0em;
      margin-right: 0em;
   }
}
.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    align: left;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li::before {
    content: "";
    padding-inline-end: 5px;
  }

  a {
    padding-inline-end: 10px;
    font-weight: bold;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}
